roslaunch rtabmap_ros rtabmap.launch \
   rtabmap_args:="--delete_db_on_start --Vis/CorFlowMaxLevel 5 --Stereo/MaxDisparity 200" \
   stereo_namespace:=/zed2i/zed_node \
   right_image_topic:=/zed2i/zed_node/right/image_rect_color \
   stereo:=true \
   frame_id:=base_link \
   imu_topic:=/zed2i/zed_node/imu/data \
   wait_imu_to_init:=true





    rosrun imu_filter_madgwick imu_filter_node \
    _use_mag:=false \
    _publish_tf:=false \
    _world_frame:="enu" \
    /imu/data_raw:=/zed2i/zed_node/imu/data_raw \
    /imu/data:=/rtabmap/imu
