<launch xmlns="http://www.ros.org/reload_launch">

    <!-- Launch rpi_odom.launch -->
    <include file="$(find hrii_vo)/launch/rpi_odom.launch" />
    <!-- Launch stereo_image_proc -->
    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" ns="stereo">
        <remap from="left/image_raw" to="/left/image_raw" />
        <remap from="right/image_raw" to="/right/image_raw" />
        <remap from="left/camera_info" to="/left/camera_info" />
        <remap from="right/camera_info" to="/right/camera_info" />
    </node>
    <include file="$(find rtabmap_launch)/launch/rtabmap.launch">
        <arg name="stereo" value="true" />
        <arg name="left_image_topic" value="/stereo/left/image_rect" />
        <arg name="right_image_topic" value="/stereo/right/image_rect" />
        <arg name="left_camera_info_topic" value="/left/camera_info" />
        <arg name="right_camera_info_topic" value="/right/camera_info" />
        <arg name="frame_id" value="base_link" />
        <arg name="rtabmap_args" value="-d" />
        <arg name="wait_imu_to_init" value="true" />
        <arg name="imu_topic" value="/rtabmap/imu" />
    </include>  




</launch>